:root {
    --main-color: #035efc;
    --font-color: rgb(233, 233, 233);
}

.buttom-button {
    /* padding: 20px 10px 10px 20px !important;
    width: 50%;
    background-color: #CCC; */
}

.bottom-modal {
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.76);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100vw;
    position: fixed;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 25px;
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 56px) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-modal > .buttons {
    position: absolute;
    bottom: calc(env(safe-area-inset-bottom, 0px) + 56px + 10px) !important;
}



.container {
    height: calc(100vh) !important;
    background-color: #fff  !important;
    padding: calc(env(safe-area-inset-top, 20px) + 70px) env(safe-area-inset-right, 10px) 0px env(safe-area-inset-left, 10px);
}

.clock {
    position: relative;
    padding: 1rem;
    margin: auto;
    text-align: center;
    color: rgb(100, 100, 100) !important;
}

.app-bar {
    padding: 10px;
    padding-top: calc(env(safe-area-inset-top, 10px) + 210px);
}

header {
    transform: translateY(-200px);
}

.sum-div {
    color: rgb(100, 100, 100) !important;
}

.nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    background: rgb(250, 250, 250) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    bottom: 0;
}

.nav-button {
    height: calc(env(safe-area-inset-bottom, 0px) + 56px) !important;
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) / 2);
}

.button {
    padding: 15px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.input {
    padding: 15px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.bg-div {
    position: fixed;
    background-color: #fff;
    width: 100vw !important;
    height: 100vh !important;
}