:root {
    --main-color: "#035efc";
}

.container {
    height: calc(100vh) !important;
    background-color: #fff  !important;
    padding: calc(env(safe-area-inset-top, 20px) + 70px) env(safe-area-inset-right, 10px) 0px env(safe-area-inset-left, 10px);
}

.clock {
    padding: 2rem;
    margin: auto;
    text-align: center;
    color: var(--main-color);
}

.app-bar {
    padding: 10px;
    padding-top: calc(env(safe-area-inset-top, 10px) + 210px);
}

header {
    transform: translateY(-200px);
}

.nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    background: rgb(250, 250, 250) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.button {
    padding: 15px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.input {
    padding: 15px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.bg-div {
    position: fixed;
    background-color: #fff;
    width: 100vw !important;
    height: 100vh !important;
}